body {
    font-family: 'Poppins', sans-serif;
    background: rgb(174,238,236);
    background: radial-gradient(circle, rgba(174,238,236,1) 0%, rgba(190,233,148,1) 100%);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
  
#page-header {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    padding: 5rem;
}

#filter-buttons {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 4rem 4rem;
}

h1 {
    font-family: 'Germania One', cursive;
    font-size: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #222222;
}

h2 {
    font-family: 'Germania One', cursive;
    color: #222222
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #222222;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #636363;
    margin: 0px;
}

.fltrbtn {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: 16px;
    display: inline-block;
    width: 200px;
    margin: 4px 10px;
    padding: 10px 20px;
    background-color: white;
    justify-content: center;
}

.fltrbtn:hover {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    background-color: none;
    outline: #222222 1px;
    transform: scale(1.1); 
}

button {
    position: relative;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: #000000;
    font-size: 18px;
}

#movie-collection {
    justify-content: center;
    display: flex;
}

#comment-box{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    border-radius: 4px;
    height: 50px;
    width: 300px;
}
  
.comment-btn {
    letter-spacing: 1px;
    background-color: rgb(198, 255, 173);
    width: 300px;
}

.comment-btn:hover {
    background-color: #ffffff;
    color: #222222;
    border-color: #222222 1px;
}

#unordered {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: white;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    border: #ffffff solid 1px;
    padding: 2rem;
    width: 20rem;
    height: 35rem;
    display: inline-grid;
    margin: 1rem 2rem;
  }

.vote-btn {
    width: 300px;
    background-color: white;
    border-color: #222222 1px;
    border-radius: 4px;
}

textarea {
    padding: 2px;
}
  
  
  